:root{
  --primary-background: #EEEEEE;
  --primary-font: black;
  --primary-logo-color: #4D4D4D;
  --secondary-logo-color:#B3B3B3;
  --secondary-background: #ffffff99;
  

}


@media(prefers-color-scheme: dark){
  
  :root{
  --primary-background: black;
  --secondary-background: #4D4D4D99;
  --primary-font: white;
   --primary-logo-color:#B2B2B2;
  --secondary-logo-color:#A8A8A8;
  
  }
}

body{
  margin: 0;
  background-color: var(--primary-background);
}